﻿@{ ViewBag.Title = "IMC Aleatorios";}
<!DOCTYPE html>
<html>
    <head>
        <title>Resultado IMC</title>
        <meta charset="utf-8">
    </head>

    <body>

        <h1> Resultado </h1>

        <div class="seccion_1" id="s1">
            <ul>
                <li> IMC menor que 18.6 -> peso insuficiente </li>
                <li> IMC 18.5 y 24.9 -> peso normal </li>
                <li> IMC mayor que 25 -> sobrepeso </li>
            </ul>
            <hr />
        </div>

        <div class="seccion_2" id="s2">
            <a class= "btn btn-info" href=@Url.Action("Index", "Home")><span>Volver al Inicio</span></a>
        </div>

        <div class="seccion_3" id="s3">
            <table class="table">
                <tr>
                    <th> Id </th>
                    <th> Nombre </th>
                    <th> Peso </th>
                    <th> Estatura </th>
                    <th> IMC </th>
                </tr>

                @foreach (var person in ViewBag.listaPersonas)
                {
                <tr>
                    <td> @person.Id </td>
                    <td> @person.Nombre </td>
                    <td> @person.Peso </td>
                    <td> @person.Estatura </td>
                    @if (@ViewBag.vectorIMC[person.Id] > 25.0)
                    {
                        <td class=" text-success"> @ViewBag.vectorIMC[person.Id] </td>
                    }
                    else
                    {
                        <td class=" text-danger"> @ViewBag.vectorIMC[person.Id] </td>
                    }
                </tr>
                }
            </table>
            <hr/>
        </div>
    </body>
</html>

